<main>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- Card 1 -->
            <div class="col">
                <div class="card border-0 w-auto">
                    <div class="card-header bg-light">Featured</div>
                    <img src="../web/assets/images/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top"
                        alt="..." />
                    <div class="card-body bg-light rounded-bottom-3">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text...</p>
                        <a href="#" class="btn btn-primary">add to card</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
                <div class="card border-0">
                    <div class="card-header bg-light">Another</div>
                    <img src="../web/assets/images/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top"
                        alt="..." />
                    <div class="card-body bg-light rounded-bottom-3">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Another example text...</p>
                        <a href="#" class="btn btn-primary">add to card</a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
                <div class="card border-0">
                    <div class="card-header bg-light">Another</div>
                    <img src="../web/assets/images/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top"
                        alt="..." />
                    <div class="card-body bg-light rounded-bottom-3">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Another example text...</p>
                        <a href="#" class="btn btn-primary">add to card</a>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col">
                <div class="card border-0">
                    <div class="card-header bg-light">Another</div>
                    <img src="../web/assets/images/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top"
                        alt="..." />
                    <div class="card-body bg-light rounded-bottom-3">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Another example text...</p>
                        <a href="#" class="btn btn-primary">add to card</a>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col">
                <div class="card border-0">
                    <div class="card-header bg-light">Another</div>
                    <img src="../web/assets/images/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top"
                        alt="..." />
                    <div class="card-body bg-light rounded-bottom-3">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Another example text...</p>
                        <a href="#" class="btn btn-primary">add to card</a>
                    </div>
                </div>
            </div>
            <!-- Add more .col blocks as needed -->
        </div>
    </div>
</main>