footer .logo-text {
  font-size: 2.6rem;
}
footer .logo-link {
  height: 80px;
}

footer img.nav-icon,
footer svg.nav-icon {
  width: 60px;
  height: 60px;
  fill: #2b3035;
}

[data-bs-theme="dark"] footer {
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.6),
    0 -1px 0 rgba(255, 255, 255, 0.05) inset;
}
footer {
  box-shadow: 0 -4px 4px rgba(230, 230, 230, 0.6),
    0 -1px 0 rgba(0, 0, 0, 0.05) inset;
}
[data-bs-theme="dark"] svg.nav-icon {
  fill: #e3e3e3;
}

footer .media-icon{
  width: 30px;
  height: auto;
}

footer ul{
  height: 80px;
  width: 80px;
}
