.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.logo-text {
  font-size: 1.2rem;
  font-family: "PatrickHand", sans-serif;
}
.logo-icon {
  height: auto;
  width: auto;
}
.logo-link{
  height: 40px;
}
img.nav-icon,
svg.nav-icon {
  width: 30px;
  height: 30px;
  fill: #2b3035;
}
.circle{
  width: 80px;
  aspect-ratio: 4/3;
  clip-path: circle(40% at center);
}

[data-bs-theme="dark"] nav {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.05) inset;
}
nav {
  box-shadow: 0 4px 4px rgba(230, 230, 230, 0.6),
    0 1px 0 rgba(0, 0, 0, 0.05) inset;
}
[data-bs-theme="dark"] svg.nav-icon {
  fill: #e3e3e3;
}


@media (max-width: 768px) {
  .logo-text {
    font-size: 1.6rem;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .left-nav > * {
    width: fit-content;
    margin-bottom: 1rem;
  }
}
